AUTHORS
COPYING
ChangeLog
INSTALL
Makefile.in
NEWS
README
aclocal.m4
autom4te.cache/*
compile
config.guess
config.h.in
config.h.in~
config.log
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
*.o
